<!DOCTYPE html>
<html>
  <head>
    <title>Midjourney-node-api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Midjourney-node-api</h1>
    <p>启动成功</p>
    <p><a href="https://docs.apipost.cn/preview/c1f3039454fb9e67/02235e4d4590d910?target_id=78d9eb39-d6f9-4ee5-b2fa-82ff6b15678e">在线文档</a></p>
    <p><a href="https://github.com/souying/Midjourney-node-api">开源地址：https://github.com/souying/Midjourney-node-api</a></p>
  </body>
</html>
